extends _blank.pug

block title
  title Funneler

block style
  link(rel="stylesheet" href="__style.css")
  link(rel='stylesheet', href='css/style.css', media='all')
  //if IE
    link(rel='stylesheet', href='css/ie.css', media='all')
  //if IE 9
    link(rel='stylesheet', href='css/ie9.css', media='all')
  //if lt IE 9
    link(rel='stylesheet', href='css/lt-ie-9.css', media='all')

block meta
  meta(name='description', content='')
  meta(name='keywords', content='')
  meta(name='robots', content='')

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
  script(src='js/jquery.wysiwyg.js')
  script(src='js/custom.js')
  script(src='js/cycle.js')
  script(src='js/jquery.checkbox.min.js')
  script(src='js/flot.js')
  script(src='js/flot.resize.js')
  script(src='js/flot-time.js')
  script(src='js/flot-pie.js')
  script(src='js/flot-graphs.js')
  script(src='js/cycle.js')
  script(src='js/jquery.tablesorter.min.js')
  script(type='text/javascript').
    // Feature slider for graphs
    $('.cycle').cycle({
    fx: "scrollHorz",
    timeout: 0,
    slideResize: 0,
    prev:    '.left-btn',
    next:    '.right-btn'
    });

block header
  .testing
    header.main
      h1
        strong Retina
        |  Dashboard
      input(type='text', value='search')
    section.user
      .profile-img
        p
          img(src='images/uiface2.png', alt='', height='40', width='40')
          |  Welcome back John Doe
      .buttons
        button.ico-font 
        span.button.dropdown
          a(href='#')
            | Notifications 
            span.pip 4
          ul.notice
            li
              hgroup
                h1 You have a new task
                h2 Report web statistics week by week.
              p
                span 14:24
            li
              hgroup
                h1 New comment
                h2
                  | Comment on 
                  em About page
                  |  by Darren.
              p
                span 11:04
            li
              hgroup
                h1 Broken link
                h2
                  | We've spotted a broken link on the 
                  em Blog page
                  | .
              p
                span 10:46
            li
              hgroup
                h1 User report
                h2
                  em Lee Grant
                  |  has been promoted to admin.
              p
                span 09:57
        span.button.dropdown
          a(href='#')
            | Inbox 
            span.pip 6
          ul.notice
            li
              hgroup
                h1 Hi, I need a favour
                h2 John Doe
                h3
                  | Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...
              p
                span 11:24
            li
              hgroup
                h1
                  span.icon 
                  | Hi, I need a favour
                h2 John Doe
                h3
                  | Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...
              p
                span 11:24
            li
              hgroup
                h1
                  span.icon 
                  | Hi, I need a favour
                h2 John Doe
                h3
                  | Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...
              p
                span 11:24
        span.button Live
        span.button Help
        span.button.blue
          a(href='index.html') Logout
  nav
    ul
      li.section
        a(href='index.html')
          span.icon 
          |  Dashboard
      li
        a(href='pages-table.html')
          span.icon 
          |  Product
        ul.submenu
          li
            a(href='page-new.html') Create page
          li
            a(href='page-timeline.html') View pages
      li
        a(href='pages-table.html')
          span.icon 
          |  Funnels
        ul.submenu
          li
            a(href='page-new.html') Create page
          li
            a(href='page-timeline.html') View pages
      li
        a(href='pages-table.html')
          span.icon 
          |  Pages
        ul.submenu
          li
            a(href='page-new.html') Create page
          li
            a(href='page-timeline.html') View pages
      li
        a(href='files.html')
          span.icon 
          |  Billing
          span.pip 7
        ul.submenu
          li
            a(href='files-upload.html') Upload file
          li
            a(href='files.html') View files

block content
  