extends _template.pug

block content
  section.alert
    .green
      p
        | Hi Lee, you have 
        a(href='#') 3 new pages
        |  and 
        a(href='#') 16 comments
        |  to approve, better get going!
      span.close ✖
  section.content
    h1(style='font-size:24px;text-align:center') Funnels
    div(style='margin:3rem 1rem')
      img(src='//placehold.it/150x150')
      div(style='display:inline-block;padding:0 5rem')
        p(style='font-size:24px;') total garcinia
        p store theme: total garcinia
        p packages: 1,3,8
        p product: garcinia
        p label: total garcinia
        p domain:
      button(style='display:inline-block;top:-7rem') edit
    a(style='margin:3rem 1rem' href='funnels-new.html')
      img(src='/images/addsign-01.png' style='height:12rem;')
      p(style='display:inline-block;font-size:24px;vertical-align:800%;padding:1rem;') create new