extends _template.pug

block content
  section.alert
    .green
      p
        | Hi Lee, you have 
        a(href='#') 3 new pages
        |  and 
        a(href='#') 16 comments
        |  to approve, better get going!
      span.close ✖
  section.content
    h1(style='font-size:24px;text-align:center') select label
    div
      img(src='//placehold.it/100' style='display:inline-block;padding:1rem;')
      img(src='//placehold.it/100' style='display:inline-block;padding:1rem;')
      img(src='//placehold.it/100' style='display:inline-block;padding:1rem;')
      img(src='//placehold.it/100' style='display:inline-block;padding:1rem;')
    div(style='margin:3rem 1rem')
      img(src='//placehold.it/150x150')
      div(style='display:inline-block;padding:0 5rem')
        p company logo
        p product name
        p subheading
        p line1
        p line2
        p line3
      button(style='display:inline-block;top:-7rem') edit
    a(style='margin:3rem 1rem' href='funnels-new.html')
      img(src='/images/addsign-01.png' style='height:12rem;')
      p(style='display:inline-block;font-size:24px;vertical-align:800%;padding:1rem;') create new